body{
   /* background: url(img/bgg.jpg);
    background-size: cover;
    background-position: center;*/
    margin: 0;
    padding: 0;
}


.wrapper{
width: 100%;
}

.img-banner{
    display:none;
}
.img-info h2{
padding: 30px 30px 20px;
font-size: 50px;
line-height: 44px;
}
.img-info p{
    padding: 0px 30px 20px;
    font-size: 16px;
    line-height: 24px;
}
.img-hacker{
    width: 100%;
}
/*tablet size*/
@media only screen and (min-width:768px){
   
.img-banner{
        display: block;
        width: 100%;
        padding-bottom: 30px;
    }
    .wrapper{
        width: 600px;
        margin: 0 auto;
    }

    .img-info h2{
        padding: 20px 0px 0px;
        color:red;
        }
    .img-info p{
        padding: 20px 0px 0px;
           
    }

    .img-hacker{
     padding-top:30px;
    }


/*closing mobile size*/
}
/*tablet size*/
@media only screen and (min-width:1000px){
   
    .img-banner{
         display: block;
        width: 100%;
        padding-bottom: 30px;
    }
    .wrapper{
        width: 1000px;   
    }
    .img-info p{
        padding: 20px 0px 0px 30px;
    }
    .img-info h2{
        padding: 20px 0px 0px 30px;
        color:blue;
    }
    .img-info {
        width: 50%;
        float: right;
    }
    
    .img-hacker{
        padding-top: 0px;
        width: 50%;
        float: left;
    }
    /*closeing tablet size*/
    }

